#{extends 'mainStart.html' /}
#{set title:'Api 1' /}


<div class="section">

    <div class="card" style="max-height: 80vh; height: auto; width: auto;">
        <div class="card-header">
            <iframe src='https://mars.nasa.gov/layout/embed/image/insightweather/' width='800' height='530'
                scrolling='no' frameborder='0'></iframe>
        </div>
        <div class="card-body" style="min-height: 0px;">
            <h3>Latest weather on Mars</h3>
        </div>
    </div>

</div>





<div class="section">

    <div class="footer">
        <h4>Like what you see? Donate!</h4>

        <form method="get" action="@{Api1.donation()}">
            <fieldset>
                <select name="quantity">
                    <option value="1">1$</option>
                    <option value="5">5$</option>
                    <option value="10">10$</option>
                </select>
                <button class="btn donate">Donate</button>

            </fieldset>
        </form>
    </div>

</div>