#{extends 'mainStart.html' /}
#{set title:'Start' /}


<div class="section">
    <div class="container2">
        <a class="nothing" href="@{Api1.index()}">
            <div class="card withHover">

                <div class="card-header">
                    <img src="@{'/public/images/InsightRover.jpg'}" alt="rover" />
                </div>
                <div class="card-body">
                    <h3>INSIGHT</h3>
                    <p>
                        Weather on Mars. NASA’s InSight Mars lander takes continuous weather measurements
                        (temperature, wind,
                        pressure) on the surface of Mars at Elysium Planitia, a flat, smooth plain near Mars’
                        equator.
                    </p>
                </div>
            </div>
        </a>
        <a class="nothing" href="@{Api2.index()}">
            <div class="card withHover">
                <div class="card-header">
                    <img src="@{'/public/images/api2Cover.jpg'}" alt="mars" />
                </div>
                <div class="card-body">
                    <h3>
                        Mars Curiosity Rover
                    </h3>
                    <p>
                        Image data gathered by NASA's Curiosity rover on MARS. View the most recent picture taken.
                    </p>
                </div>
            </div>
        </a>
        <a class="nothing" href="@{Api3.index()}">
            <div class="card withHover">
                <div class="card-header">
                    <img src="@{'/public/images/api3Cover.jpg'}" alt="earth" />
                </div>
                <div class="card-body">
                    <h3>
                        Earth Polychromatic Imaging Camera
                    </h3>
                    <p>
                        It's EPIC! Daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera (EPIC)
                        instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides full disc imagery
                        of the Earth and captures unique perspectives of certain astronomical events.
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>


<div class="section">

    <div class="footer">
        <h4>Download image of the day</h4>
        <form method="get" action="@{Application.imageOfTheDay()}">
            <button class="btn"><i class="fa fa-download"></i> Download</button>
        </form>
        <p>Save the background image to your own personal library, saved to My
            Photos</p>

    </div>

</div>