button {
    background-color: #0b3d91;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: "Helvetica";
}
button:hover {
    opacity: 0.8;
}
html,body {
    height:100%;
    width:100%;
    margin:0;
}
label{
    font-family: "Helvetica";
}
input::placeholder  {
    font-family: "Helvetica";
}

body {
    background-repeat: no-repeat;
    background-size:cover;
    display:flex;
}
.formulario {
    margin:auto
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login, .signup{
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin:auto;
    background-color: rgba(255,255,255, 0.8);

}
