button {
        background-color: #0b3d91;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-family: "Helvetica";
    }
    button:hover {
        opacity: 0.8;
    }
    .dogSelect {
        font-family: "Helvetica";
        color: #000000;
        background-color: #b0b0b0;
    }


html {
    height:100%;
    width:100%;
    margin:0;
}
label{
    font-family: "Helvetica";
    font-weight: bold;
}
input::placeholder  {
    font-family: "Helvetica";
}

body {
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-size:cover;
    display:flex;
    background-image: url("/public/images/backgroundImage.png");

}
.formulario {
    margin:auto
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login{
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin:auto;
    background-color: rgba(255,255,255, 0.8);
    margin-top:15%;
   }
.signup{
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin:auto;
    background-color: rgba(255,255,255, 0.8);
    margin-top:3%;
}
.error{
    color: red;
    font-family: "Helvetica";
}

.center{
    position: absolute;
    top: 35%;
    left: 50%;
}

