#{extends 'mainStart.html' /}
#{set title:'Api 2' /}


<div class="section">

    <div class="card" style="max-height: 80vh; height: auto; width: auto;">
        <div class="card-header">
            <img id="earthImage" src="@{'/public/images/marsApi.png'}" alt="Mars Image"
                style="max-height: 70vh; height: auto; width: auto;">
        </div>
        <div class="card-body" style="min-height: 0px;">
            <h3>Curiosity's most recent picture from the front hazard camera</h3>
        </div>
    </div>

</div>


<div class="section">

    <div class="footer">
        <h4>Like what you see? Donate!</h4>

        <form method="get" action="@{Api2.donation()}">
            <fieldset>
                <select name="money" id="cars">
                    <option value="1">1$</option>
                    <option value="5">5$</option>
                    <option value="10">10$</option>
                </select>
                <button class="btn donate">Donate</button>

            </fieldset>
        </form>
    </div>

</div>