#{extends 'main.html' /}
#{set title:'Login' /}

<h1  style="color:MediumSeaGreen;">Session started, welcome ${user.name}</h1><br>

<a href="@{deleteUser()}">delete</a><br>

#{form @changeToUser()}
    #{field 'uname'}
    <p class="${field.errorClass}">
        <strong>user:</strong> <input type="text" name="uname" size="16" value="${uname}">
        <span class="error">${field.error}</span>
    </p>
    #{/field}
    <p class="buttons">
    <input type="submit" value="Save">
    </p>

#{/form}