#{extends 'mainStart.html' /}
#{set title:'Gallery' /}

<div class="section">
    <div class="container2">
        #{list picURL, as:'pic'}
            <div class ="gallery">
                <div class="gallery-header">
                    <img src="${pic.value}">
                </div>
                <div class="gallery-icons">
                    ${pic.key}
                    #{a @delete(pic.key)}<img src="@{'/public/images/trash.jpg'}" />#{/a}
                </div>
            </div>
        #{/list}
    </div>
</div>