#{extends 'mainStart.html' /}
#{set title:'Gallery' /}

<div class="section">
    <div class="container2">
        #{list picURL, as:'pic'}
            <div class ="gallery">
                <div>
                    <img class="gallery-header" src="${pic}">

                </div>
                <div class="gallery-icons">
                    #{a @delete(pic)}<img src="@{'/public/images/trash.jpg'}" alt="rover" />#{/a}
                </div>
            </div>
        #{/list}
    </div>
</div>