#{extends 'mainStart.html' /}
#{set title:'Gallery' /}

<div class="section">
    <div class="container2">

        <!-- uses a list of pairs with all the data we need -->
    #{list picURL, as:'pic'}
        <div class="gallery">
            <div class="gallery-header">
                <img src="${pic.value}">
            </div>
            <div class="gallery-icons">
                #{a @delete(pic.key)}
                <img src="@{'/public/images/trash.jpg'}"
                    style="padding: 0px; text-align: center; position: absolute;" />
                #{/a}
                <div style="text-align: center;">
                    <h3> ${pic.key} </h3>
                </div>

            </div>
        </div>
        #{/list}
    </div>
</div>