#{extends 'main.html' /}
#{set title:'SignUp' /}

<div class="signup">
    #{form @registered()}
    #{field 'user.name'}
    <p class="${field.errorClass}">
        <label>Real name:</label>
        <input type="text" name="${field.name}" size="16" value="${user?.name}">
        <span class="error">${field.error}</span>
    </p>
    #{/field}

    #{field 'user.password'}
    <p class="${field.errorClass}">
        <label>Password:</label>
        <input type="password" name="${field.name}" size="16" value="${user?.password}">
        <span class="error">${field.error}</span>
    </p>
    #{/field}

    #{field 'verifyPassword'}
    <p class="${field.errorClass}">
        <label>Verify password:</label>
        <input type="password" name="${field.name}" size="16" value="${verifyPassword}">
        <span class="error">${field.error}</span>
    </p>
    #{/field}

    #{field 'user.age'}
    <p class="${field.errorClass}">
        <label>Age:</label>
        <input type="text" name="${field.name}" size="16" value="${user?.age}">
        <span class="error">${field.error}</span>
    </p>
    #{/field}
    #{field 'user.profilePic'}
    <p class="${field.errorClass}">
        <select class="dogSelect" name="${field.name}" id="dexters">
            <option value="dexter1">Happy Dog</option>
            <option value="dexter2">Tired Dog</option>
            <option value="dexter3">Funky Dog</option>
            <option value="dexter4">Spa Dog</option>
        </select>
        <span class="error">${field.error}</span>
    </p>
    #{/field}
    <p class="buttons">
       <!-- <input class="button" type="submit" value="Register" -->
        <button type="submit">Register</button>
    </p>
    #{/form}
        <a href="@{index()}"><button>Cancel</button></a>
</div>