#{extends 'main.html' /}
#{set title:'SignUp' /}


<form action=@{Application.registered()} method="get" class="reg">
    <div >
        <label for="uname"><b>Username</b></label>
        <input placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <label for="psw"><b>Age</b></label>
        <input type="number" placeholder="Enter Age" name="age" required>
        <label for="profilePic"><b>Profile Picture</b></label>
        <select name="dexter" id="dexters">
            <option value="dexter1">Happy Dog</option>
            <option value="dexter2">Tired Dog</option>
            <option value="dexter3">Funky Dog</option>
            <option value="dexter4">Spa Dog</option>
        </select>
        #{if flash.error}
        <p style="color:#c00">
            ${flash.error}
        </p>
        #{/if}
        <button type="submit">Sign Up</button>
    </div>
</form>
