#{extends 'main.html' /}
#{set title:'MainStart' /}


<div class="container">
    <div class="header">
        <h1 class="strokeme">Nasapi</h1>
    </div>
    <div class="topnav" id="myDIV">
        <a class="active" href="@{MainMenu.index()}">Home</a>
        <a href="@{controllers.ViewData.index()}">My Data</a>
        <a href="@{ViewGallery.index()}">My Photos</a>
        <a href="@{controllers.Settings.index()}">Settings</a>
        <a href="@{controllers.MainMenu.logout()}">Exit</a>
        <img src="/public/images/dexter.jpg" style="width: 30px;height: 30px;padding-left: 40px">
    </div>
    #{doLayout /}
</div>